@import url("https://fonts.googleapis.com/css?family=Muli");

@-webkit-keyframes arrowMove {
    0% {
    	-webkit-transform: translate(-10px, 0);
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translate(10px, 0);
    	opacity: 0;
    }
}

@-moz-keyframes arrowMove {
    0% {
    	-webkit-transform: translate(-10px, 0);
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translate(10px, 0);
    	opacity: 0;
    }
}

@-o-keyframes arrowMove {
    0% {
    	-webkit-transform: translate(-10px, 0);
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translate(10px, 0);
    	opacity: 0;
    }
}

@keyframes arrowMove {
    0% {
    	-webkit-transform: translate(-10px, 0);
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translate(10px, 0);
    	opacity: 0;
    }
}

@-webkit-keyframes arrowMoveBack {
    0% {
    	-webkit-transform: translate(10px, 0);
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translate(-10px, 0);
    	opacity: 0;
    }
}

@-moz-keyframes arrowMoveBack {
    0% {
    	-webkit-transform: translate(10px, 0);
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translate(-10px, 0);
    	opacity: 0;
    }
}

@-o-keyframes arrowMoveBack {
    0% {
    	-webkit-transform: translate(10px, 0);
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translate(-10px, 0);
    	opacity: 0;
    }
}

@keyframes arrowMoveBack {
    0% {
    	-webkit-transform: translate(10px, 0);
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translate(-10px, 0);
    	opacity: 0;
    }
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@-moz-keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@-o-keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade {
    0% {opacity: 0.5;}
    100% {opacity: 1;}
}

@-webkit-keyframes fade2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fade2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fade2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    background: #272727;
    color: #C8AF96;
    font-family: 'Muli', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

.mainTable {
    margin: 0;
    border-spacing: 0;
}
    .scrollContainer {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        vertical-align: top;
    }

    .tablePage {
        margin: 0;
    }

h1 {
    display: block;
    margin: 0 auto;
    padding-top: 5vh;
    text-align: center;
    font-size: 30pt;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1pt;
}

.mainpagesection {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.headerPic {
    position: absolute;
    left: 0.0;
    width: 50vw;
    height: 100vh;
    background-image: url("../images/headerpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    z-index: 2;
}

.headerBio {
    position: absolute;
    right: 0.0;
    width: 50vw;
    height: 100vh;
}

    .headerBio h1 {
        position: relative;
        margin-top: 30vh;
        margin-left: 20%;
        margin-right: 10%;
        margin-bottom: 30.0px;
        padding: 0;
        font-size: 40pt;
        font-weight: 900;
        text-align: right;
        z-index: 1;
        text-transform: none;
    }

    .headerBio h2 {
        position: relative;
        margin-left: 20%;
        margin-right: 10%;
        font-size: 15pt;
        text-align: right;
        font-weight: 500;
        z-index: 1;
    }

.backNavButton {
    position: absolute;
    top: 5vh;
    left: 5vw;
    padding: 20px 50px 20px 50px;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    font-weight: 900;
    font-size: 10pt;
    border: 1px solid #C8BEB4;
    border-radius: 50px;
    letter-spacing: 2.5pt;
    z-index: 5;
}

    .backNavButton:link {
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
        color: #C8AF96;
    }

    .backNavButton:visited {
        color: #C8AF96;
    }

    .backNavButton:hover {
        border-color: #64B9FF;
        color: #64B9FF;
    }

    .backNavButton i {
        margin-right: 15px;
        -webkit-animation: arrowMoveBack 1.5s infinite;
        -moz-animation: arrowMoveBack 1.5s infinite;
        -o-animation: arrowMoveBack 1.5s infinite;
        animation: arrowMoveBack 1.5s infinite;
    }
    
.navButton {
    position: absolute;
    top: 5vh;
    right: 5vw;
    padding: 20px 50px 20px 50px;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    font-weight: 900;
    font-size: 10pt;
    border: 1px solid #C8BEB4;
    border-radius: 50px;
    letter-spacing: 2.5pt;
    z-index: 5;
}

    .navButton:link {
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
        color: #C8AF96;
    }

    .navButton:visited {
        color: #C8AF96;
    }

    .navButton:hover {
        border-color: #64B9FF;
        color: #64B9FF;
    }

    .navButton i {
        margin-left: 15px;
        -webkit-animation: arrowMove 1.5s infinite;
        -moz-animation: arrowMove 1.5s infinite;
        -o-animation: arrowMove 1.5s infinite;
        animation: arrowMove 1.5s infinite;
    }

    #backButton1 {
        border-color: #272727;
    }

        #backButton1:link {
            color: #272727;
        }

        #backButton1:visited {
            color: #272727;
        }

        #backButton1:hover {
            border-color: #86444E;
            color: #86444E;
        }

    #nextButton1 {
        border-color: #272727;
    }

        #nextButton1:link {
            color: #272727;
        }

        #nextButton1:visited {
            color: #272727;
        }

        #nextButton1:hover {
            border-color: #86444E;
            color: #86444E;
        }

    #backButton2 {
        border-color: #64B9FF;
    }

        #backButton2:link {
            color: #64B9FF;
        }

        #backButton2:visited {
            color: #64B9FF;
        }

        #backButton2:hover {
            border-color: #C8BEB4;
            color: #C8BEB4;
        }

    #nextButton2 {
        border-color: #64B9FF;
    }

        #nextButton2:link {
            color: #64B9FF;
        }

        #nextButton2:visited {
            color: #64B9FF;
        }

        #nextButton2:hover {
            border-color: #C8BEB4;
            color: #C8BEB4;
        }

    #firstButton {
        position: absolute;
        padding: 20px 50px 20px 50px;
        text-transform: uppercase;
        text-align: right;
        text-decoration: none;
        font-weight: 900;
        font-size: 10pt;
        border: 1px solid #C8BEB4;
        border-radius: 50px;
        letter-spacing: 2.5pt;
        z-index: 5;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        right: 10%;
    }

        #firstButton:link {
            -webkit-transition: color 0.3s;
            -moz-transition: color 0.3s;
            -o-transition: color 0.3s;
            transition: color 0.3s;
            color: #C8AF96;
        }

        #firstButton:visited {
            color: #C8AF96;
        }

        #firstButton:hover {
            border-color: #64B9FF;
            color: #64B9FF;
        }

        #firstButton i {
            margin-left: 15px;
            -webkit-animation: arrowMove 1.5s infinite;
            -moz-animation: arrowMove 1.5s infinite;
            -o-animation: arrowMove 1.5s infinite;
            animation: arrowMove 1.5s infinite;
        }

.PixelsCanvas {
    position: absolute;
    display: block;
    border: 0;
    margin: 0 auto;
    right: 0;
    z-index: -1;
}

#section2 {
    background-color: #BBBBBB;
    color: #272727;
}

#section3 {
    background-color: #000000;
    color: #64B9FF
}

.slideshow-container {
    position: absolute;
    height: 80vh;
    width: 100vw;
    bottom: 3vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
}

    .slideshow-container .leftGradient {
        position: absolute;
        background: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
        height: 100%;
        width: 15%;
        left: 0;
        z-index: 3;
    }

    .slideshow-container .rightGradient {
        position: absolute;
        background: linear-gradient(to left, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
        height: 100%;
        width: 15%;
        right: 0;
        z-index: 3;
    }

    .slideshow-container .slideshowPrev {
        position: absolute;
        left: 5vw;
        z-index: 5;
        font-size: 12pt;
        margin: 0 auto;
        top: 40%;
        color: black;
        border: 1px solid #DDDDDD;
        background: #DDDDDD;
        border-radius: 50px;
        padding: 15px 10px 15px 10px;
        text-align: center;
    }

    .slideshow-container .slideshowPrev i {
        -webkit-animation: fade 2.5s infinite;
        -moz-animation: fade 2.5s infinite;
        -o-animation: fade 2.5s infinite;
        animation: fade 2.5s infinite;
    }

    .slideshow-container .slideshowPrev i:nth-child(1) {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .slideshow-container .slideshowPrev i:nth-child(2) {
        -webkit-animation-delay: 0.15s;
        -moz-animation-delay: 0.15s;
        -o-animation-delay: 0.15s;
        animation-delay: 0.15s;
    }

    .slideshow-container .slideshowPrev br i {
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }

    .slideshow-container .slideshowNext {
        position: absolute;
        right: 5vw;
        z-index: 5;
        font-size: 12pt;
        margin: 0 auto;
        top: 40%;
        color: black;
        border: 1px solid #DDDDDD;
        background: #DDDDDD;
        border-radius: 50px;
        padding: 15px 10px 15px 10px;
        text-align: center;
    }

    .slideshow-container .slideshowNext i {
        -webkit-animation: fade 2.5s infinite;
        -moz-animation: fade 2.5s infinite;
        -o-animation: fade 2.5s infinite;
        animation: fade 2.5s infinite;
    }

    .slideshow-container .slideshowNext i:nth-child(3) {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .slideshow-container .slideshowNext i:nth-child(2) {
        -webkit-animation-delay: 0.15s;
        -moz-animation-delay: 0.15s;
        -o-animation-delay: 0.15s;
        animation-delay: 0.15s;
    }

    .slide {
        position: relative;
        display: block;
        width: 70%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        margin: 0 auto;
        z-index: 2;
    }

        .slide img {
            display: block;
            max-width: 70vw;
            max-height: 75vh;
            border: 1px solid #DDDDDD;
            border-radius: 10px;
            margin: 0 auto;
        }

        .slide .slideCaption {
            position: relative;
            color: #DDDDDD;
            margin-top: 20px;
        }

.instagram-media {
    display: none;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -moz-animation-name: fade;
    -moz-animation-duration: 2s;
    -o-animation-name: fade;
    -o-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
    z-index: 2;
}
