@import url("https://fonts.googleapis.com/css?family=Quicksand");

html {
    margin: 0;
    background: #505050;
    color: #EEEEEE;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.mainpagesection {
    position: relative;
    height: 100vh;
    margin: 0;
}

.headerPic {
    position: absolute;
    left: 0.0;
    width: 50vw;
    height: 100vh;
    background-image: url("../images/headerpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    z-index: 2;
}

.headerBio {
    position: absolute;
    right: 0.0;
    width: 50vw;
    height: 100vh;
}

    .headerBio h1 {
        position: relative;
        margin-top: 30vh;
        margin-left: 20%;
        margin-right: 10%;
        font-size: 40pt;
        font-weight: 900;
        text-align: right;
        z-index: 1;
    }

    .headerBio h2 {
        position: relative;
        margin-top: 20.0;
        margin-left: 20%;
        margin-right: 10%;
        font-size: 16pt;
        text-align: right;
        font-weight: 500;
        z-index: 1;
    }

.downButton {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px 50px 20px 50px;
    right: 10%;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    font-weight: 900;
    font-size: 10pt;
    border: 1px solid #BBBBBB;
    border-radius: 50px;
    letter-spacing: 2pt;
    z-index: 1;
}

    .downButton:link {
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
    }

    .downButton:visited {
        color: #EEEEEE;
    }

    .downButton:hover {
        border-color: #96C8FF;
        color: #96C8FF;
    }
    
    .downButton i {
        margin-top: 10px;
        margin-right: 10px;
        font-size: 18pt;
    }

#PixelsCanvas {
    position: absolute;
    display: block;
    border:0;
    margin:0 auto;
    right: 0;
    z-index: 0;
}

#section2 {
    background-color: #BBBBBB;
}